.container{
  flex: 1;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 100px auto 30px auto;
  min-height: calc(100vh - 200px);
}



/* Título principal */
.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #333;
  }
  
  /* Grilla de usuarios */
  .user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px ;
  }
  
  /* Texto de carga */
  .loading-text {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #555;
  }
  
  /* Texto de error */
  .error-text {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: red;
  }