.container {
  flex: 1;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 80px auto 30px auto;
  min-height: calc(100vh - 180px);
}


.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #333;
}


.user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  padding: 40px;
  height: auto;
  margin-top: 30px;
  justify-content: center;
}


.loading-text {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #555;
}


.error-text {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: red;
}

.no-results {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin: 2rem 0;
}

.cont-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: auto;
}

@media (max-width: 600px) {
  .pagination-container {
    margin: 1rem 0;
  }

  .user-grid{
    margin-top: 15px;
    gap: 20px;
  }
}
