.search-container {
    margin: 16px auto 30px auto;
    /* max-width: 580px; */
    width: 55%;
    padding: 0 16px;
  }

  @media (max-width: 600px) {

  
    .search-container{
      max-width: 90%;
      width: 100%;
    }
  }