.ContainerHeader{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(3, 14, 14, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    color: #ffffff;
    padding: 20px 30px;

}


.ContainerHeader h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    text-align: start;

}